
/* HTML ======================================================================================= */

body {
	background-image: url(greenBlock.jpg);
	background-repeat: repeat;
	z-index: 1;
}

/* Bootstrap Classes ======================================================================================= */

.container {
	margin:0;
	padding: 0;
}

.row {
	margin:0;
	padding: 0;
}


/* Custom Classes ======================================================================================= */
#display {
width: 100%;
position:absolute;
text-align: center;
display:block;
}

.sunnyHills{
	position: fixed;
	display: block
	z-index: -1;
	width: 100%;
}

.hud {
	position: fixed;
	text-align: center;
	width: 100%;
	height: auto;
	margin-top: 0, auto;
	bottom: 10%; 
}

.monsters { 
	width: 100%;

}


#fight {
	position: fixed;
	text-align: center;
	width: 100%;
	height: auto;
	margin: 0% auto;
	top: 10%; 
	left: 0;
	right: 0;
}

#winLose {
	position: relative;
	text-align: center;
	width: 100%;
	height: auto;
	margin: 0% auto;
	top: 10%; 
	left: 0;
	right: 0;
}

#voodoo {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	top:0;
	padding-right: 5%;
}

#easter {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	top:0;
	padding-right: 5%;
}

#toxic {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	top:0;
	padding-right: 5%;
}

#screamer {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	top:0;
	padding-right: 5%;
}

#invman {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	top:0;
	padding-right: 5%;
}

#hair {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	top:0;
	padding-right: 5%;
}

#fish {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	top:0;
	padding-right: 5%;
}


/* Module Classes ======================================================================================= */

h4 {
font-family: 'Russo One', sans-serif;
}

.modal-body {
font-family: 'Hind Siliguri', sans-serif;
}

.btn-primary {
	font-family: 'Russo One', sans-serif;
	text-align: center;
	width:100%;
	border-color:transparent; 
	box-shadow: 5px 5px 5px #888888;
}


/* @MEDIA ======================================================================================= */

@media screen and (max-width: 640px) {

    .hud {
    	height:100px;
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width: 768px) and (min-width: 641px) {
    .hud {
        width: 100%;
        text-align: center;
    }


}

@media screen and (max-width: 980px) and (min-width: 769px) {
    .hud {
        width: 650px;
    }
    
}